.cell-container {
  min-height: 32px;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.1s;
}

.cell-container:hover {
  background-color: #f3f3f3;
}

.read-mode {
  width: 100%;
  padding: 4px;
}

.combobox-input {
  width: 100%;
}
